.stat-block{
    margin-right: 1rem;
    background-color: #221f24;
    padding: 5px;
    border-radius: 4px;
    width: 100px;
}

.stat-number{
    margin: 0 5px;
    font-size: 1.1em;
    font-family: 'Josefin Sans', sans-serif;
}

.wood{
    color: burlywood;
}

.stone{
    color: gainsboro;
}

.gold{
    color: gold;
}

.glamour{
    color: lightcyan;
}