html{
  font-family: 'Aref Ruqaa', serif;
}

.App {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 90vh;
  align-items: center;
  margin: 1rem auto;
  background-color: #322f35;
  padding: 0 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 10px  #221f24;
}

.dialogue{
  color: lightblue;
  font-size: 1.1em;
  text-align: center;
  margin: 1rem 0;
}

